.test{
  color: transparent;
}

.ok-upload-list-table {
  .ant-table-tbody>tr>td, 
  .ant-table-thead>tr>th {
    padding: 0 11px;
    height: 44px;
    line-height: 44px;
  }
  .ant-table-thead>tr>th {
    color: #8f959e;
    background-color: #f5f6f7;
    border: 0;
  }
}