.ok-upload {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline: none;
  &:focus{
    outline: none;
  }
}

.upload-tip{
  margin-top: 60px;
  .upload-btn {
    color:#1890ff ;
  }
}

.ok-upload-tip{
  width: 110px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  &:hover{
    background-color: #1890ff;
    border-color: #1890ff;
    color: #fff;
  }
}

// test
.ok-test-css{
  color: rgb(226, 9, 197);
}
.test-bg {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: url('../../assets/bee.png');
}


