.ok-upload {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline: none;

}
.ok-upload:focus{
  outline: none;
}

.ok-upload--drag {
  background-color: #fff;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  box-sizing: border-box;
  width: 360px;
  height: 180px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.ok-test-css{
  color: rgb(226, 9, 197);
}
.test-bg {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: url('../../assets/bee.png');
}
