.t{
  background-color: transparent;
}

@import url('../../assets/theme.less');
.ok-employee-tree-wraper {
	width: 100%;
}

// 修改边框颜色
.ok-employee-select.ant-select-multiple {
	.ant-select-selector {
		border-color: @ok-border-color-base;
		&:hover {
			border-color: @ok-border-color-hover;
		}
	}
	&.ant-select-disabled {
		.ant-select-selector:hover {
			border-color: @ok-border-color-base;
		}
	}
} 

// selected head 样式
.ant-select-selection-item {
	.selected-option {
		display: none;
	}
	.selected-head {
		display: flex;
		align-items: center;
	}
	.user-img__avatar__head {
		width: 20px;
		height: 20px;
		font-size: 0;
	}
	.selected-head-name-head {
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 50px;
		margin-left: 6px;
		font-size: 12px;
		font-weight: normal;
	}
}

.head-search-icon,
.head-clear-icon {
	width: 16px;
	height: 16px;
}


.ok-employee-select .ant-select-arrow {
	pointer-events: auto;
	top: 44%;
	right: 14px;
}