
/* reset */

@charset "UTF-8";
body {
  /* font-family: 'PingFang SC', -apple-system,  'Microsoft YaHei', '微软雅黑', sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue',  'Hiragino Sans GB', 'Heiti SC'; */
  font-weight: 400;
  font-size: 14px;
  color: #000;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
  font-family: Medium, semibold;
}
a {
  color: #4c78fc;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #63a3ff;
}
a:active {
  color: #4c78fc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  font-weight: inherit;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
  font-family: Medium;
}
h5,
h6,
p {
  font-size: inherit;
}
p {
  line-height: 1.8;
}
sub,
sup {
  font-size: 13px;
}
small {
  font-size: 12px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.ellipsis1 {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mr10{
  margin-right: 10px;
}
/* 修改antd样式 */

.ant-select-multiple .ant-select-selector {
  border-radius: 4px;
}
.ant-select-multiple:not(.ant-select-disabled) .ant-select-selector:hover{border-color:#4c78fc}

/* personGroup Popper  */
.ok-person-group-popper.popper-wraper {
  list-style: none;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 0 9px 0 rgb(0 0 0 / 8%);
  background-color: #fff;
  padding: 8px;
  max-height: 140px;
  width: 110px;
  overflow: auto;
}
.ok-person-group-popper .popper-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  font-size: 0;
}
.ok-person-group-popper .popper-item:last-child {
  margin-bottom: 0;
}



.ok-person-group-popper .popper-item-name {
  margin-left: 6px;
  font-weight: normal;
  font-size: 12px;
  color: #1F2329;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ok-person-group-popper .popper-item-operate {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.ok-person-group-popper .popper-item-operate:hover {
  color: #4c78fc;
}

.ok-person-group-popper .person-item-close-icon {
  width: 12px;
  height: 12px;
  margin-left: auto;
  cursor: pointer;
}

/* ok-avatar */
.ok-avatar-root {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

/* ok-person-cell */
.ok-person-cell-root,
.ok-person-cell-root ok-avatar {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
/* ok-person-group */
.ok-person-group-root {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 1;
}
.ok-person-group-root .ok-person-group-wrap {
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
}
.ok-person-group-root .avatar-list {
  float: left;
}
.ok-person-group-root .avatar-list + .avatar-list {
  margin-left: -6px;
}
.ok-person-group-root .single-user-name {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin-left: 6px;
}
.ok-person-group-root .more {
  margin-left: 8px;
  font-size: 14px;
  cursor: pointer;
}
.ok-person-group-root .popper-wraper {
  list-style: none;
  padding: 10px;
  margin: 0;
  width: 110px;
  border-radius: 4px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.08);
  max-height: 140px;
  overflow: auto;
  background-color: #fff;
}
.ok-person-group-root .popper-item {
  position: relative;
  display: flex;
  padding: 2% 0;
  color: #333;
  font-size: 12px;
  font-weight: normal;
}
.ok-person-group-root .popper-item:hover {
  background-color: #f7f8fc;
}
.ok-person-group-root .popper-item-name {
  margin-left: 6px;
}
.ok-person-group-root .popper-item-operate {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.ok-person-group-root .popper-item-operate:hover {
  color: #4c78fc;
}


/* ok-department-select */
.ok-department-select-root.ok-department-select-wraper {
  width: 100%;
  height: 100%;
}
.ok-department-select-root .ant-select.ok-department-select {
  line-height: initial;
}
.ok-department-select-root .ok-department-select .ant-select-selector {
  height: 100%;
}

.ok-department-select-root .ok-department-select .ant-select-selection-item-content {
  font-size: 14px;
  font-weight: 400;
  color: #1F2329;
}
.ok-department-select-root .head-search-icon,
.ok-department-select-root .head-clear-icon {
  width: 16px;
  height: 16px;
}
.ok-department-select-root .ok-department-select .ant-select-arrow {
  pointer-events: auto;
  top: 44%;
  right: 14px;
}


/* ok-file-icon */
.ok-file-icon-root{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.ok-file-icon-root .ok-file-icon-img{height:22px;margin-right:6px;vertical-align:middle}

/* ok-image */
.ant-form-item-control.has-error .ok-upload-image {
  border-color: #F54A45;
}
.ok-file-image-list {
  font-size: 0;
  vertical-align: top;
}
.ok-upload-image {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}
.ok-upload-image.has-margin {
  margin-right: 8px;
}
.ok-upload-image .ok-upload-image-inner {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #DEE0E3;
  border-radius: 2px;
  line-height: 98px;
  vertical-align: top;
  cursor: pointer;
}
.ok-upload-image .ok-upload-image-inner:hover {
  border-color: #4c78fc;
}
.ok-upload-image.disabled .ok-upload-image-inner {
  border-color: #DEE0E3;
  background-color: #f5f6f7;
  cursor: not-allowed;
}
.ok-upload-image .upload-img-icon {
  display: block;
  text-align: center;
  font-size: 40px;
  height: 100%;
  margin: 0 auto;
}
.ok-upload-image .upload-img-icon path {
  fill: #d9d9d9;
}
.ok-upload-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ok-upload-list-image {
  margin: 0;
  display: inline;
  vertical-align: top;
}
.ok-upload-list-image .ok-upload-list__item {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #DEE0E3;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  font-size: 14px;
  color: #666;
  position: relative;
  margin-right: 8px;
  margin-top: 8px;
}

.ok-upload-list-image .ok-upload-list__item.last {
  margin-right: 0;
}
.ok-upload-list-image .ok-upload-list__item-thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.ok-upload-list-image .ok-upload-list__item-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  text-align: center;
  color: #fff;
  opacity: 0;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
}
.ok-upload-list-image .ok-upload-list__item-actions:hover {
  opacity: 1;
}
.ok-upload-list-image .ok-upload-list__item-actions > i {
  cursor: pointer;
}
.image-process-wraper {
  width: 100%;
  text-align: center;
}
.image-progress {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.ok-process-wraper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.image-close-btn {
  cursor: pointer;
}
.abort-icon path {
  fill: #4c78fc;
}


/* 文件删除， 二次确认 */
.file-delete-confirm.ant-modal-confirm .ant-modal-content {
  border-radius: 4px;
}
.file-delete-confirm.ant-modal-confirm .ant-modal-confirm-btns button+button {
  margin-left: 12px;
}
.file-delete-confirm.ant-modal-confirm .ant-modal-confirm-btns .ant-btn:first-child {
  border: 1px solid #CCCCCC;
}
.file-delete-confirm.ant-modal-confirm .ant-modal-confirm-btns .ant-btn:first-child:hover {
  color: #618FFD;
  border-color: #618FFD;
}

.file-delete-confirm.ant-modal-confirm .ant-modal-confirm-btns .ant-btn-primary {
  background: #4c78fc;
  border-color: #4c78fc;
} 
.file-delete-confirm.ant-modal-confirm .ant-modal-confirm-btns .ant-btn-primary:hover {
  background: #618FFD;
}


/* 人员选择modal样式 */
.ok-tree-modal .ant-modal-header {
  padding: 14px 24px;
  background-color: #4c78fc;
  border: 0;
}

.ok-tree-modal .ant-modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
.ok-tree-modal .ant-modal-close {
  display: none;
}

.ok-tree-modal .ant-modal-content {
  border-radius: 8px;
}
.ok-tree-modal .tree-content-wraper {
  display: flex;
  min-height: 400px;
  border: 1px solid #dee0e3;
  border-radius: 4px;
}

.ok-tree-modal .tree-wraper {
  width: 50%;
  border-right: 1px solid #dee0e3;
  overflow-x: auto;
}

.ok-tree-modal .tree-search {
  padding: 16px 20px 12px 20px;
}
.ok-tree-modal .tree-search .ant-input-affix-wrapper {
  border: 0;
  background:#EFF0F1;
  border-radius: 4px;
}
.ok-tree-modal .tree-search .ant-input-affix-wrapper:focus {
  box-shadow:none;
  border-color: #4c78fc;
}

.ok-tree-modal .tree-search .ant-input-affix-wrapper input {
  background:#EFF0F1;
}

  /* 人员选择-树 */
.ok-employee-tree-modal .breadcrumb-separator{color:#646a73}

.ok-employee-tree-modal .ant-breadcrumb {
  padding: 0 20px;
  margin-bottom: 10px;
}

.ok-employee-tree-modal .list-wraper,
.ok-employee-tree-modal .search-list,
.ok-employee-tree-modal .selected-list {
  max-height: 400px;
  overflow: auto;
}

.ok-employee-tree-modal .item-detail {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  cursor: pointer;
}
.ok-employee-tree-modal .item-detail.selected,
.ok-employee-tree-modal .item-detail:hover {
  background-color: #f5f5f5;
}

.ok-employee-tree-modal  .employee-name {
  margin:0 8px;
  font-size: 14px;
  color: #1F2329;
  flex-shrink: 0;
}

.ok-employee-tree-modal  .email {
  font-size: 12px;
  color: #646A73;
  margin-right: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ok-employee-tree-modal .dept-icon {
  width: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.ok-tree-modal .tree-search-icon {
  width: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.ok-tree-modal .close-icon,
.ok-tree-modal .checked-icon {
  width:16px;
  vertical-align: middle;
  margin-left: auto;
}
.ok-tree-modal .close-icon {
  cursor: pointer;
}


.ok-employee-tree-modal .empty-text {
  text-align: center;
}

/* 面包屑hover */
.ok-employee-tree-modal .ant-breadcrumb a:hover {
  color: #4c78fc;
}

/* 取消按钮hover */
.ok-employee-tree-modal .btn-cancle.ant-btn:hover {
  color: #4c78fc;
  border-color: #4c78fc;
}


/* selected */
.ok-tree-modal .selected-wraper{
  width: 50%;
}

.ok-tree-modal .selected-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 15px 20px;
}

.ok-tree-modal .selected-msg {
  font-size: 14px;
  line-height: 22px;
  color: #646A73;
}
.ok-tree-modal .clear-btn {
  color: #4c78fc;
  cursor: pointer;
}

/* modal footer */
.ok-tree-modal .ant-modal-footer {
  border: 0;
  padding: 0 24px 24px;
}
.ok-tree-modal .ant-modal-footer button {
  border-radius: 4px;
}
.ok-tree-modal .ant-modal-footer .btn-ok {
  background: #4c78fc;
}
.ok-tree-modal .ant-modal-footer button+button {
  margin-left: 12px;
}


/* poper 样式 */
/* .ok-employee */
.ok-employee-more .ant-popover {
  z-index: 6000;
}
.ok-employee-more .more-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 296px;
}
.ok-employee-more .more-item {
  display: flex;
  align-items: center;
  background: #eff0f1;
  margin: 3px 4px 3px 0;
  flex-shrink: 0;
  padding: 0 8px 0 2px;
  border-radius: 2px;
}
.ok-employee-more .head-close-icon {
  width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
}

.ok-employee-more .ant-popover-inner-content {
  padding: 3px;
}
.ok-employee-more .employee-avatar {
  font-size: 0;
}

.ok-employee-more .employee-name {
  line-height: 22px;
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
  max-width: 80px;
  overflow: hidden;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
  font-weight: normal;
}



/* dropdown 样式 */
.userSelectDropdown .ant-select-dropdown {
  z-index: 5500;
}
.userSelectDropdown	.selected-head {
		display: none;
}
  .userSelectDropdown	.option-list-item {
		padding: 10px 40px 8px 18px;
		border-bottom: 2px solid #eee;
		font-weight: normal;
	}
  .userSelectDropdown	.ant-select-item {
		padding: 0;
	}

  .userSelectDropdown	.selected-option {
		display: flex;
		align-items: center;
	}

  .userSelectDropdown	.user-img__avatar {
		width: 40px;
		height: 40px;
	}

  .userSelectDropdown	.user-img__name {
		margin-right: 10px;
	}
  .userSelectDropdown	.user-img__content {
		width: calc(100% - 50px);
		margin-left: 10px;
		font-size: 12px;
	}

  .userSelectDropdown	.user-img__content>p {
    line-height: 18px;
    margin: 0;
  }

  .userSelectDropdown .more {
    display: none;
  }

  .userSelectDropdown.ant-select-dropdown .ant-select-dropdown-content .ant-select-item-option-state {
    line-height: 60px;
    padding-right: 8px;
  }

  /* 人员选择样式 */
  .ok-employee-tree-wraper{width:100%}
  .ok-employee-select-wraper .ant-select.ok-employee-select {line-height: initial;}
  .ok-employee-select .ant-select-selector {height: 100%;}
  .ok-employee-select.ant-select-multiple .ant-select-selector{border-color:#dee0e3}
  .ok-employee-select.ant-select-multiple.no-border .ant-select-selector{border:0}
  .ant-select-selection-item .selected-option{display:none}
  .ant-select-selection-item .selected-head{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
  .ant-select-selection-item .user-img__avatar__head{width:20px;height:20px;font-size:0}
  .ant-select-selection-item .selected-head-name-head{display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;max-width:50px;margin-left:6px;font-size:14px;font-weight:400; color: #1F2329}
  .head-clear-icon,.head-search-icon{width:16px;height:16px}
  .ok-employee-select .ant-select-arrow{pointer-events:auto;top:44%;right:14px}
  .ok-employee-select.ant-select-focused:not(.ant-select-disabled).ant-select-multiple .ant-select-selector{border-color:#4c78fc;-webkit-box-shadow:none;box-shadow:none}
  .ok-employee-select .ant-select-selection-item-content {
    font-size: 14px;
    font-weight: 400;
    color: #1F2329;
  }

  /* 部门选择 */
  .dept-tree-content-wraper .tree-item-icon {
    width: 18px;
    height: 18px;
    margin: 0 5px 0 8px;
  }

  /* 修改checkbox样式 */
  .dept-tree-content-wraper .ant-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #DEE0E3;
    border-radius: 4px;
    border-collapse: separate;
    transition: all 0.3s;
  }
  .dept-tree-content-wraper .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #4c78fc;
    border-color: #4c78fc;
  }

   /* 修改item样式 */
  .dept-tree-content-wraper .department-tree-item {
    display: flex;
    align-items: center;
  }
  .dept-tree-content-wraper .search-result-item,
  .dept-tree-content-wraper .selected-department-item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 40px;
  }
  .dept-tree-content-wraper .search-result-item:hover,
  .dept-tree-content-wraper .selected-department-item:hover {
    background-color: #f5f5f5;
  }


  .dept-tree-content-wraper .ant-tree li {
    padding: 0;
  }
  .dept-tree-content-wraper .ant-tree li .ant-tree-node-content-wrapper {
    height: 40px;
    line-height: 40px;
    width: calc(100% - 24px);
  }
  .dept-tree-content-wraper .ant-tree-title {
    display: block;
  }

  .dept-tree-content-wraper .ant-tree li span.ant-tree-switcher {
    top: 8px;
  }

  .dept-tree-content-wraper .tree-content {
    padding: 0 20px 0 15px;
  }

  .dept-tree-content-wraper .tree-content.department {
    max-height: 400px;
    overflow: auto;
  }

  /* drawer */
  .ok-drawer-wrap.ant-drawer .ant-drawer-mask {
    background-color: rgba(0,0,0,.6);
  }
  .ok-drawer-wrap.ant-drawer .ant-drawer-content {
    overflow: visible;
    background-color: transparent;
  }
  .ok-drawer-wrap.ant-drawer .ant-drawer-wrapper-body {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
  }
  .ok-drawer-wrap.ant-drawer .ant-drawer-body{
    height: 100%;
    padding: 0;
    
  }
  .ok-drawer-wrap.ant-drawer .ok-drawer-content {
    height: 100%;
  }

  .ok-drawer-wrap.ant-drawer .drawer-close-icon {
    position: absolute;
    top: -31px;
    right: 24px;
    cursor: pointer;
  }

