.t {
  background: transparent;
}

.ok-employee-tree-modal .content-wraper {
  display: flex;
  min-height: 400px;
  border: 1px solid #dee0e3;
  border-radius: 4px;
  width: 740px;
}

.ok-employee-tree-modal .tree-wraper {
  flex: 0 0 370px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #dee0e3;
  overflow-x: auto;
}

.ok-employee-tree-modal .selected-wraper{

}
