.test{
  background-color: transparent;
}

// 配置主题色

// @theme-color: #6B66DC;
// 界面主题色

// 主题色
@ok-primary-color: #4c78fc;
// 文字颜色
@ok-text-color: #1f2329;
// 二级文字颜色
@ok-text-color-secondary: #646A73;
// 基础border颜色
@ok-border-color-base: #DEE0E3;
@ok-border-color-hover: #4c78fc;

// 警告色
@ok-warning-color: #ff5b4c;
// 错误色
@ok-error-color: #F54A45;
// 基础白色
@ok-white-color: #fff;
// 基础字体大小
@ok-font-size-base: 14px;
// 小字体大小
@ok-font-size-small: 12px;
// 大字体大小
@ok-font-size-big: 18px;
// 标题字体
@ok-font-size-title: 16px;

// 基础border-radius
@ok-border-radius-base: 2px;
@ok-border-radius-big: 4px;

// 基础字重
@ok-font-weight-bold: 500;
// icon颜色
@ok-icon-default-color: #8F959E;
// 明细子表icon颜色

@ok-icon-subtable-color: #2B2F36;

// 图片上传背景色
@ok-picture-bg-color: #d9d9d9;
@ok-base-bg-color: #f5f6f7;
@ok-drag-disabled: #bbbfc4;

// 文件列表背景色
@ok-file-list-bg-color: #f8f9fc;
@ok-file-list-bg-color-hover: #f5f5f5;

// 文件列表文字颜色
@ok-file-list-color: #606266;

@ok-list-bg-color: #f5f5f5;


// 上传进度条
@ok-process-inner-color: #4c78fc;
@ok-process-bg-color: #E7EDF4;
@ok-percentage-color: #8F959E;

@btn-hover-color: #618FFD;